* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.genBtn {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: magenta;
  color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.square {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  cursor: pointer;
}

.squareChangeColor {
  background-color: #000;
  transition: background-color 0.3s ease;
}

/* .square:hover {
  background-color: #000;
  cursor: pointer;
} */
